* {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 18px;
  color: #cdcdcd;
}

window {
  background: transparent;
}

scrollbar {
  opacity: 0;
  min-height: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: #141415;
  padding: 0;
  border: 1px solid #252530;
  min-height: 0;
  min-width: 600px;
}

.preview-box {
  min-height: 0;
}

.box {
  min-height: 0;
  background: #141415;
}

.search-container {
  background: #141415;
  padding: 8px;
  border-bottom: 1px solid #252530;
}

.input placeholder {
  opacity: 0.5;
  color: #606079;
}

.input {
  padding: 4px;
  background: #141415;
  color: #cdcdcd;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
  min-height: 0;
  background: #141415;
}

.placeholder {
  min-height: 0;
  opacity: 0;
}

.scroll {
  min-height: 0;
  background: #141415;
}

.list {
  min-height: 0;
  background: #141415;
}

child:hover .item-box {
  background: rgba(37, 37, 48, 0.5);
}

child:selected .item-box {
  background: #252530;
}

child:selected .item-box * {
  color: #cdcdcd;
}

.item-box {
  padding: 8px 12px;
}

.item-text-box {
  padding: 0;
}

.item-text {
  color: #cdcdcd;
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 12px;
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: #141415;
  padding: 8px;
  margin: 0;
  border-top: 1px solid #252530;
  color: #cdcdcd;
}
