/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #121212;
    --color01: #d06057;
    --color02: #79bcbe;
    --color03: #d58c71;
    --color04: #8e99c8;
    --color05: #cd989d;
    --color06: #68b4b6;
    --color07: #ffffff;
    --color08: #9e9e9e;
    --color09: #e8a19b;
    --color10: #b5ddde;
    --color11: #ecc4b5;
    --color12: #cad0e7;
    --color13: #ecd5d7;
    --color14: #7cc9cb;
    --color15: #ffffff;
}
