@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: 'JetBrainsMonoNL Nerd Font Mono';
  font-size: 13px;
  min-height: 0;
}

window#waybar.top {
  background: #1E222A;
  color: #D8DEE9;
}

window#waybar.bottom {
  background: #1E222A;
  color: #D8DEE9;
}

/* Modules */
#custom-omarchy,
#workspaces,
#clock,
#custom-update,
#custom-voxtype,
#cpu,
#memory,
#gpu,
#pulseaudio,
#network,
#bluetooth,
#tray {
  background: #2E3440;
  padding: 0 15px;
  margin: 2px 3px;
  border-radius: 15px;
  color: #D8DEE9;
}

/* Workspaces */
#workspaces {
  background: #2E3440;
  padding: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: #D8DEE9;
  background: transparent;
  border-radius: 15px;
  margin: 2px 0px;
}

#workspaces button.active {
  background: #EBCB8B;
  color: #2E3440;
  border-radius: 15px;
  min-width: 20px;
}

#workspaces button:hover {
  background: #3B4252;
  color: #ECEFF4;
  border-radius: 15px;
}

/* Specific Module Tweaks */
#custom-omarchy {
  color: #EBCB8B;
  padding: 0 15px 0 15px;
  font-size: 16px;
}

#clock {
  font-weight: bold;
}

#pulseaudio.muted {
  background: #BF616A;
  color: #ECEFF4;
}

#custom-update {
  color: #EBCB8B;
}

#custom-screenrecording-indicator {
  background: #BF616A;
  color: #ECEFF4;
  border-radius: 15px;
  padding: 0 10px;
  margin: 6px 3px;
}

#network.disconnected {
  background: #BF616A;
}

#bluetooth.off {
  background: #3B4252;
  color: #88C0D0;
}
